{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function() {
  $("#add_stocks").click(function(){
    $('.ui.modal').modal('show');
  })

  $("#save").click(function(){
    let symbols = $("#stock_symbols").val();
    let stocksymbols = symbols.split("\n");
    console.log(stocksymbols);
    for(let i = 0; i < stocksymbols.length; ++i){
      //console.log(stocksymbols[i]);
      $.ajax({
        url: '/stock',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({'symbol': stocksymbols[i]}),
        dataType: 'json'
      })
    }
    //to hide the opened modal at the end of the loop
    $('.ui.modal').modal('hide');
  })
})
</script>
<div>
    <h2>DashBoard Page</h2>
    <p>Here you are going to see informations about our stock list.</p>
</div>
<div class="ui input">
    <input type="text" placeholder="P/E">
</div>
<div class="ui input">
    <input type="text" placeholder="Dividend Yield">
</div>

<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 50 day MA</label>
</div>
<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 200 day MA</label>
</div>
<button class="ui button primary">Filter</button>
<div>
  <button id="add_stocks" class="ui button">Add Stocks</button>
</div>

<table class="ui celled table">
    <thead><tr>
      <th>Symbol</th>
      <th>Price</th>
      <th>Forward P/E</th>
      <th>Forward EPS</th>
      <th>Dividend Yield</th>
      <th>50 Day</th>
      <th>200 Day</th>
    </tr></thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.forward_pe }}</td>
        <td>{{ stock.forwared_eps }}</td>
        <td>{{ stock.dividend_yield }}</td>
        <td>{{ stock.ma50 }}</td>
        <td>{{ stock.ma200 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Add Stock
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Stock Symbol</label>
          <textarea id="stock_symbols"></textarea>
        </div>
    </div>
    </div>

    <div class="actions">
      <div id="save" class="ui positive right labeled icon button">
        Add Symbols
        <i class="plus icon"></i>
      </div>
    </div>
  </div>
{% endblock %}

